.codeContainer {
  

  .titleCode {  
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 28px;
    margin-left: 10px;
    padding-top: 20px;
  }

  .skillsList {
    border: rgb(255, 235, 235) 3px solid;
    background-color: rgba(239, 239, 250, 0.3);
    max-width: 200px;
    min-height: 30px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    max-height: 26px;
    overflow: hidden;
      &:hover {
        cursor: pointer;
      }
      &.openThePopout {
        animation: increaseBoxHeight 2s ease forwards;
      }
    .skillsListTitle {
      font-size: 18px;
      font-weight: 700; 
      color: white;
      margin-top: 0px;
      margin-bottom: 20px;
      .arrowIcon {
        vertical-align: bottom;
        font-size: 22px;
      }
    }
  }

  @keyframes increaseBoxHeight {
    0% {
      max-height: 34px;
    }
    100% {
      max-height: 600px;
    }
  }

  .projectCardDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}
