.codeContainer {

  margin-left: 5px;

  .titleCode {  
      color: rgb(101, 75, 248);
      margin-top: 20px;
      font-size: 28px;
      margin-bottom: 10px;
  }

  div {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
  }


}
