.skillOrTool {
  color: rgb(47, 49, 180);
  font-size: 14px;
  border: 1px white solid;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  margin-top: 7px;
  width: 93%;
}
 

  
    