.homeContainer {

  max-width: 100vw;
  position: relative;

  .fades {
    .homeTitle {
      color: rgb(255, 255, 255);
      margin-top: 20px;
      margin-left: 10px;
      font-size: 40px; 
      }
      .growButton {
        display: none;
        
      }

  }
  

  
  .slide1 {
    bottom: -10px;
    left: -90px;
    position: fixed;
    z-index: 1;

    .image1 {
      height: 300px;
    }
  }

  .slide2 {
    bottom: 70px;
    position: fixed;
    z-index: 2;

    .image2 {
      height: 400px;
    }
  }

  .slide3 {
    bottom: 150px;
    position: fixed;
    z-index: 3;
    
    .image3 {
      height: 250px;
    }
  }

}


@media only screen and (min-width: 767px) {
  
  .homeContainer{
    
    .fades {

       .homeTitle {
      font-size: 55px;
      }
      .growButton {
        display: inline;
        position: absolute;
        right: 30px;
        top: 30px;
      }
    }
   

    .slide1 {
      left: -150px;
      .image1 {
    min-height: 480px;
    }
  }

    .slide2 {
      bottom: 120px;
      .image2 {
        min-height: 560px;
      }
    }

    .slide3 {
      bottom: 280px;
      .image3 {
        min-height: 460px;
      }
    }

  }
  
}

