.homeContainer {

  max-width: 100vw;
  position: relative;

  .fades {
    .homeTitle {
      color: rgb(255, 255, 255);
      margin-top: 20px;
      margin-left: 10px;
      font-size: 40px; 
      }
      .growButton {
        position: fixed;
        font-size: 14px;
        right: -100px;
        bottom: -100px;
        height: 170px;
        width: 170px;
        border-radius: 50%;
        background-color: white;
        overflow: hidden;
        border: none;
        -webkit-animation: glow 1.2s ease-in-out infinite alternate;
        -moz-animation: glow 1.2s ease-in-out infinite alternate;
        animation: glow 1.2s ease-in-out infinite alternate;
        outline: none;
        font-weight: 700;
        color: rgb(177, 175, 175);
        transition: opacity 2s;
        &:hover {
          cursor: pointer;
        }
        &.buttonGrows {
          animation: circleGrow 4s ease forwards;
        }
      }

      @keyframes glow {
        from {
          box-shadow: 0 0 5px rgb(186, 235, 255);
        }
        to {
          box-shadow: 0 0 30px #45f6fc;
        }
      }

      @keyframes circleGrow{
        0% {
          height: 170px;
          width: 170px;
        }
        70% {
          height: 450px;
          width: 450px;
        }
        100% {
          height: 1px;
          width: 1px;  
        }
      }
  }

  .arrowSlideAcross1 {
    color: white;
    font-size: 26px;
    position: absolute;
    right: 15px;
    animation: arrowTurnsUp 5s ease forwards; 
  }

  .arrowSlideAcross2 {
    color: white;
    font-size: 26px;
    position: absolute;
    right: 52px;
    animation: arrowTurnsUp 5s ease forwards;
 }

  .arrowSlideAcross3 {
    color: white;
    font-size: 26px;
    position: absolute;
    right: 89px;
    animation: arrowTurnsUp 5s ease forwards;
  }

  .arrowSlideAcross4 {
    color: white;
    font-size: 26px;
    position: absolute;
    right: 126px;
    animation: arrowTurnsUp 5s ease forwards;
  }

  @keyframes arrowTurnsUp {
    0% { 
    }
    50% {
      transform: rotate(0deg);
      transform: translate(0px,0px);
    }
    85% {
      transform: rotate(-90deg);
      opacity: 1;
    }
    100% {
      transform: rotate(-90deg) translate(95px, 0px);
      opacity: 0;
    }
  }
   
  .sunbeamContainer{
    position: fixed;
    bottom: -60px;
    right: -47px;
    z-index: 0;
    overflow: hidden;
    .sunbeams {
      animation: sunbeams 7s ease forwards;
      width: 100%; 
    }
  }
  
  @keyframes sunbeams{
    0% {
      opacity: 0;
    }
    60%{
      opacity: 0;
    }
    80% {
      transform: scale(1);
      opacity: 0.1;
    }
    90% {
      transform: scale(1.05);
      opacity: 0.3;
    }
    100% {
      transform: scale(1);
      opacity: 0.07;
    }
  }

  .pictureOfLouis {
    display: none;
  }
  .slide1 {
    display: inline;
    bottom: -5px;
    right: 0px;
    position: fixed;
    z-index: 1;
    animation: louisShow 2.5s ease forwards;
    overflow: hidden;
  }
  .image1 {      
    height: 250px;
  }

  @keyframes louisShow{
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}


@media only screen and (min-width: 767px) {
  .homeContainer{
    .fades {
       .homeTitle {
      font-size: 55px;
      }
    }
  }
}

@media only screen and (min-width: 1290px) {
  
  .homeContainer{
    
    .fades {
      .homeTitle {
      font-size: 55px;
      }
    }
  }
}


