.contactPage {

  .contactTitle {
    color: rgb(252, 252, 252);
    margin-top: 20px;
    margin-left: 10px;
    font-size: 28px;
  }

  .contactLink {
    color: white;
    margin: 10px 10px 10px 20px;
    animation: fadein 0.5s;
    font-size: 40px;
  }

  @keyframes fadein {
    from { opacity: 0; font-size: 10px;}
    to   { opacity: 1; font-size: 40px;}
  }

  .iconContact {
    color: white;
  }


}

   
