.contactPage {
  padding: 5px;
  max-width: 100vw;
  word-wrap: break-word;

  h2 {
    color: rgb(101, 75, 248);
    margin-bottom: 10px;
  }

  .title {
    color: rgb(101, 75, 248);
    margin-top: 10px;
  }

   
}