

.bioContainer {
  
  .bioTitle {
    color: rgb(252, 252, 252);
    margin-top: 20px;
    margin-left: 10px;
    font-size: 28px;
  }
  
  .bioParagraphsContainer {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    margin: 15px;
    padding: 10px;
    .bioParagraph {

    }

  }

  p {
    border: 1px white solid;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
  }

  .popOut {
    font-size: 24px;
    border-radius: 7px;
    margin-bottom: 40px;
    padding: 10px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    max-height: 34px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
    &.openThePopout {
      animation: increaseBoxHeight 2s ease forwards;
    }
    .arrowIcon {
      vertical-align: bottom;
      font-size: 28px;
    }
    .interestParagraph {
      color: rgb(85, 84, 84);
      font-size: 16px;
    }
  }

  .transparentBox {
    min-width: 100px;
    min-height: 20px;
  }
  

  @keyframes increaseBoxHeight {
    0% {
      max-height: 34px;
    }
    100% {
      max-height: 600px;
    }
  }

}

