.bioTitle {
  color: rgb(101, 75, 248);
  margin-top: 20px;
  margin-left: 5px;
  font-size: 28px;
  
}


span {

  .intro {
    margin: 15px
  }

  button {
    margin-left: 15px;
  }

  h2 {
  color: rgb(101, 75, 248);
  margin-top: 20px;
  margin-left: 5px;
  font-size: 20px;
  }
  
}
