
.navBar {
  color: rgb(6, 17, 128);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(84, 206, 250);
  max-width: 100vw;

  p {
    margin-right: 20px;
    margin-left: 5px
  }

  .iconCollection {
    .icon {
      color: rgb(6, 17, 128);
      margin-right: 5px;
    }
  }
}